# SQL Part 3 Exercises Joins

This notebook works with the BooksDB dataset.  

**Questions 1-4** focus on how joins work in a more general sense.  If you are not sure how to best answer the questions, try manipulating the queries by changing the order of joins, the length of the TOP, or how they are ordered.  

> <span style="background-color: rgba(127, 127, 127, 0.1);"><i>Note</i>: If some of the queries are not returning quickly, you can try closing and restarting azure data studio after a few minutes.</span>

In **questions 5-8**, you will be asked to join tables to find results about titles, tags, and the books users want to read.

As you go through the questions, you will see 'Minimum Desired Output'.  This will provide you with the bare minimum columns needed to answer the questions.  When you write the queries, add as many additional columns as you need to best find your answers.

## **QUESTION 1:**  Exploring a LEFT JOIN using the **books** and **to\_read** tables

The code block below has been commented out. To answer this question, you will need to uncomment it by removing the **/\*** (line 1) and **\*/** (line 16).

**Part A:** Look at Query 1, which table is the 'Left' table and which is the 'Right'?

> Your Answer: BOOKS IS LEFT, TO\_READ IS RIGHT

**Part B:** Using table 2, answer the following questions: 

- When we added a  '**WHERE tr.user\_id IS NOT NULL'** clause (line 14), how did the table change?  Why?

> Your Answer: ALL THE NULL VALUES WERE OMITTED

In [1]:
--LEFT JOIN
USE BooksDB
SELECT TOP (50) books.title, books.average_rating, books.books_count,to_read.user_id, to_read.book_id
FROM books
LEFT JOIN to_read
ON books.best_book_id = to_read.book_id
ORDER BY books.average_rating;


--Query 2: LEFT JOIN USING 'IS NOT NULL'
USE BooksDB
SELECT TOP (50) books.title, books.average_rating, books.books_count,to_read.user_id, to_read.book_id
FROM books
LEFT JOIN to_read
ON books.best_book_id = to_read.book_id
WHERE to_read.user_id IS NOT NULL
ORDER BY books.average_rating;

title,average_rating,books_count,user_id,book_id
One Night at the Call Center,2.47,25,NULL,NULL
The Almost Moon,2.67,63,NULL,NULL
The Finkler Question,2.76,45,NULL,NULL
Lost,2.8,18,NULL,NULL
Four Blondes,2.8,57,449,6613
Four Blondes,2.8,57,1378,6613
Four Blondes,2.8,57,6465,6613
Four Blondes,2.8,57,6700,6613
Four Blondes,2.8,57,7830,6613
Four Blondes,2.8,57,10085,6613
Four Blondes,2.8,57,16298,6613
Four Blondes,2.8,57,16845,6613
Four Blondes,2.8,57,17470,6613
Four Blondes,2.8,57,19763,6613
Four Blondes,2.8,57,21938,6613
Four Blondes,2.8,57,22289,6613
Four Blondes,2.8,57,23758,6613
Four Blondes,2.8,57,27874,6613
Four Blondes,2.8,57,28690,6613
Four Blondes,2.8,57,29023,6613
Four Blondes,2.8,57,29315,6613
Four Blondes,2.8,57,30245,6613
Four Blondes,2.8,57,36128,6613
Four Blondes,2.8,57,36554,6613
Four Blondes,2.8,57,38159,6613
Four Blondes,2.8,57,38800,6613
Four Blondes,2.8,57,40361,6613
Four Blondes,2.8,57,40529,6613
Four Blondes,2.8,57,41485,6613
Four Blondes,2.8,57,42706,6613
Four Blondes,2.8,57,45206,6613
Four Blondes,2.8,57,45689,6613
Four Blondes,2.8,57,49499,6613
Four Blondes,2.8,57,51105,6613
Four Blondes,2.8,57,51671,6613
Four Blondes,2.8,57,52109,6613
"Revenge Wears Prada: The Devil Returns (The Devil Wears Prada, #2)",2.84,59,NULL,NULL
Among the Ten Thousand Things,2.84,19,NULL,NULL
Tell-All,2.84,37,NULL,NULL
The Emperor's Children,2.93,45,7860,3648
The Emperor's Children,2.93,45,11320,3648
The Emperor's Children,2.93,45,12686,3648
The Emperor's Children,2.93,45,12729,3648
The Emperor's Children,2.93,45,12891,3648
The Emperor's Children,2.93,45,16933,3648
The Emperor's Children,2.93,45,17093,3648
The Emperor's Children,2.93,45,24036,3648
The Emperor's Children,2.93,45,35122,3648
The Emperor's Children,2.93,45,36022,3648
The Emperor's Children,2.93,45,36952,3648

title,average_rating,books_count,user_id,book_id
Four Blondes,2.8,57,449,6613
Four Blondes,2.8,57,1378,6613
Four Blondes,2.8,57,6465,6613
Four Blondes,2.8,57,6700,6613
Four Blondes,2.8,57,7830,6613
Four Blondes,2.8,57,10085,6613
Four Blondes,2.8,57,16298,6613
Four Blondes,2.8,57,16845,6613
Four Blondes,2.8,57,17470,6613
Four Blondes,2.8,57,19763,6613
Four Blondes,2.8,57,21938,6613
Four Blondes,2.8,57,22289,6613
Four Blondes,2.8,57,23758,6613
Four Blondes,2.8,57,27874,6613
Four Blondes,2.8,57,28690,6613
Four Blondes,2.8,57,29023,6613
Four Blondes,2.8,57,29315,6613
Four Blondes,2.8,57,30245,6613
Four Blondes,2.8,57,36128,6613
Four Blondes,2.8,57,36554,6613
Four Blondes,2.8,57,38159,6613
Four Blondes,2.8,57,38800,6613
Four Blondes,2.8,57,40361,6613
Four Blondes,2.8,57,40529,6613
Four Blondes,2.8,57,41485,6613
Four Blondes,2.8,57,42706,6613
Four Blondes,2.8,57,45206,6613
Four Blondes,2.8,57,45689,6613
Four Blondes,2.8,57,49499,6613
Four Blondes,2.8,57,51105,6613
Four Blondes,2.8,57,51671,6613
Four Blondes,2.8,57,52109,6613
The Emperor's Children,2.93,45,7860,3648
The Emperor's Children,2.93,45,11320,3648
The Emperor's Children,2.93,45,12686,3648
The Emperor's Children,2.93,45,12729,3648
The Emperor's Children,2.93,45,12891,3648
The Emperor's Children,2.93,45,16933,3648
The Emperor's Children,2.93,45,17093,3648
The Emperor's Children,2.93,45,24036,3648
The Emperor's Children,2.93,45,35122,3648
The Emperor's Children,2.93,45,36022,3648
The Emperor's Children,2.93,45,36952,3648
The Emperor's Children,2.93,45,38430,3648
The Emperor's Children,2.93,45,39414,3648
The Emperor's Children,2.93,45,45261,3648
The Emperor's Children,2.93,45,45497,3648
The Emperor's Children,2.93,45,45747,3648
The Emperor's Children,2.93,45,48502,3648
The Emperor's Children,2.93,45,49233,3648

## **QUESTION 2:** Exploring **RIGHT** joins with the **books** and **to\_read** tables

You will need to uncomment the Query to answer the question.

**Part A:** Looking at the query, which table is the 'Left' and which is the 'Right'?

> Your Answer: RIGHT JOIN IS TO\_READ, LEFT IS BOOKS

**Part B:** How do the RIGHT-joined tables differ from the LEFT-joined tables in Question 1?  

> Your Answer: ANY VALUES IN THE LEFT TABLE THAT DO NOT HAVE A MATCH WITH THE RIGHT TABLE APPEAR AS NULL.

In [2]:
USE BooksDB
SELECT TOP (100) books.title, books.average_rating, books.books_count, to_read.user_id, to_read.book_id
FROM books
RIGHT JOIN to_read
ON books.best_book_id = to_read.book_id;

title,average_rating,books_count,user_id,book_id
Children of Dune (Dune Chronicles #3),3.9,116,1,112
NULL,NULL,NULL,1,235
NULL,NULL,NULL,1,533
NULL,NULL,NULL,1,1198
NULL,NULL,NULL,1,1874
NULL,NULL,NULL,1,2058
NULL,NULL,NULL,1,3334
NULL,NULL,NULL,2,4
NULL,NULL,NULL,2,11
The Ultimate Hitchhiker's Guide to the Galaxy,4.37,32,2,13
NULL,NULL,NULL,2,16
NULL,NULL,NULL,2,92
Dune Messiah (Dune Chronicles #2),3.86,140,2,106
NULL,NULL,NULL,2,113
NULL,NULL,NULL,2,233
NULL,NULL,NULL,2,247
NULL,NULL,NULL,2,380
NULL,NULL,NULL,2,408
NULL,NULL,NULL,2,439
NULL,NULL,NULL,2,479
NULL,NULL,NULL,2,516
NULL,NULL,NULL,2,619
NULL,NULL,NULL,2,1069
The Iliad,3.83,1726,2,1371
NULL,NULL,NULL,2,1384
NULL,NULL,NULL,2,1597
NULL,NULL,NULL,2,1926
NULL,NULL,NULL,2,1967
NULL,NULL,NULL,2,1969
NULL,NULL,NULL,2,2220
NULL,NULL,NULL,2,2388
NULL,NULL,NULL,2,3222
NULL,NULL,NULL,2,3227
NULL,NULL,NULL,2,3733
NULL,NULL,NULL,2,5418
NULL,NULL,NULL,2,6937
NULL,NULL,NULL,2,7146
NULL,NULL,NULL,2,7873
NULL,NULL,NULL,2,8417
"Harry Potter Collection (Harry Potter, #1-6)",4.73,6,3,10
NULL,NULL,NULL,3,66
NULL,NULL,NULL,3,233
NULL,NULL,NULL,3,726
NULL,NULL,NULL,3,932
NULL,NULL,NULL,3,1146
NULL,NULL,NULL,3,2439
NULL,NULL,NULL,3,3566
NULL,NULL,NULL,3,4582
NULL,NULL,NULL,3,5448
NULL,NULL,NULL,3,5765
NULL,NULL,NULL,3,6274
NULL,NULL,NULL,3,8403
NULL,NULL,NULL,5,31
The Virtue of Selfishness: A New Concept of Egoism,3.47,53,5,665
NULL,NULL,NULL,5,3074
"Sherlock Holmes: The Complete Novels and Stories, Volume I",4.45,13,5,3581
NULL,NULL,NULL,6,64
NULL,NULL,NULL,6,459
NULL,NULL,NULL,6,619
NULL,NULL,NULL,6,649
NULL,NULL,NULL,6,687
NULL,NULL,NULL,6,874
The War of Art: Break Through the Blocks & Win Your Inner Creative Battles,4.07,29,6,1319
NULL,NULL,NULL,6,1912
NULL,NULL,NULL,6,5269
NULL,NULL,NULL,6,5537
NULL,NULL,NULL,6,5820
NULL,NULL,NULL,6,6220
NULL,NULL,NULL,6,7480
"Harry Potter Collection (Harry Potter, #1-6)",4.73,6,7,10
NULL,NULL,NULL,7,215
NULL,NULL,NULL,7,225
NULL,NULL,NULL,7,233
NULL,NULL,NULL,7,1322
NULL,NULL,NULL,7,3552
NULL,NULL,NULL,7,3720
NULL,NULL,NULL,7,4468
NULL,NULL,NULL,8,19
NULL,NULL,NULL,8,498
NULL,NULL,NULL,8,1357
NULL,NULL,NULL,8,2177
NULL,NULL,NULL,8,3930
The Pilgrimage,3.64,171,8,4004
NULL,NULL,NULL,8,8792
NULL,NULL,NULL,8,9304
"Harry Potter Boxed Set, Books 1-5 (Harry Potter, #1-5)",4.77,11,9,8
Children of Dune (Dune Chronicles #3),3.9,116,9,112
NULL,NULL,NULL,9,139
NULL,NULL,NULL,9,230
NULL,NULL,NULL,9,233
NULL,NULL,NULL,9,473
NULL,NULL,NULL,9,638
NULL,NULL,NULL,9,653
NULL,NULL,NULL,9,672
NULL,NULL,NULL,9,701
NULL,NULL,NULL,9,736
NULL,NULL,NULL,9,883
NULL,NULL,NULL,9,895
NULL,NULL,NULL,9,1467
NULL,NULL,NULL,9,1582

## **QUESTION 3:** Exploring FULL JOINS with the **books** and **to\_read** tables

You will need to uncomment the Query to answer the question.

**Part A:**  Look at the table and explore how it was populated.  Try manipulating the query to better understand how this table works.  Try adding a WHERE clause, or ORDER BY a column on the **books** table.  

Based on your exploration, can you think of when you might want a FULL join rather than a LEFT, RIGHT, or INNER?

> Your Answer 
> 
>**You’ll use INNER JOIN when you want to return only records having pair on both sides, and you’ll use LEFT JOIN when you need all records from the “left” table, no matter if they have pair in the “right” table or not.In contrast, for a right outer join, all rows from the right table will be returned plus the rows that the left table had in common, with null values in place of uncommon rows.**

> 
> **The major difference between inner and outer joins is that inner joins result in the intersection of two tables, whereas outer joins result in the union of two tables.For an inner join, only the rows that both tables have in common are returned. However, for a full outer join, all rows from both tables are returned.**

> #### How I Use Joins

> The join that I have used most as a data scientist is left outer joins. For example, I used to work with health data and would often aggregate procedure numbers by location. In that case, I would put the location table on the left and do a left join. This is because there could be some locations where I didn’t have any procedures and if I did an inner join I would lose those locations. 
> 
> Inner joins are more useful when you only want complete datasets without the addition of NULL values that outer joins bring. 
> 
> I rarely use full outer joins, unless all the data from the two tables being joined needs to be retained. Full outer joins can end up producing very large results tables, especially if there is not very much overlap between the tables that you are joining.

In [3]:
USE BooksDB
SELECT TOP 30 books.title, books.average_rating, books.books_count,to_read.user_id, to_read.book_id
FROM books 
FULL JOIN to_read
ON books.book_id = to_read.book_id;

title,average_rating,books_count,user_id,book_id
NULL,NULL,NULL,1,1874
NULL,NULL,NULL,1,2058
NULL,NULL,NULL,1,3334
NULL,NULL,NULL,2,92
NULL,NULL,NULL,2,247
NULL,NULL,NULL,2,408
NULL,NULL,NULL,2,479
NULL,NULL,NULL,2,516
NULL,NULL,NULL,2,619
NULL,NULL,NULL,2,1926
NULL,NULL,NULL,2,1967
NULL,NULL,NULL,2,2220
NULL,NULL,NULL,2,3222
NULL,NULL,NULL,2,5418
NULL,NULL,NULL,2,6937
NULL,NULL,NULL,2,7873
NULL,NULL,NULL,3,66
NULL,NULL,NULL,3,2439
NULL,NULL,NULL,3,5448
NULL,NULL,NULL,3,8403
The Virtue of Selfishness: A New Concept of Egoism,3.47,53,5,665
"Sherlock Holmes: The Complete Novels and Stories, Volume I",4.45,13,5,3581
NULL,NULL,NULL,6,64
NULL,NULL,NULL,6,459
NULL,NULL,NULL,6,619
The War of Art: Break Through the Blocks & Win Your Inner Creative Battles,4.07,29,6,1319
NULL,NULL,NULL,6,5269
NULL,NULL,NULL,6,5537
NULL,NULL,NULL,6,7480
NULL,NULL,NULL,7,215

## **QUESTION 4:** Exploring INNER Joins with the **books** and **to\_read** tables

You will need to uncomment the Query to answer the question.

**Part A:**  What does an inner join do?

> <span style="background-color: rgba(127, 127, 127, 0.1); font-family: -apple-system, BlinkMacSystemFont, sans-serif;">Your Answer: ONLY RETURNS OUTPUT THAT MATCHES ON BOTH TABLES</span>

<span style="background-color: rgba(127, 127, 127, 0.1); font-family: -apple-system, BlinkMacSystemFont, sans-serif;"><b>Part B:</b>&nbsp;Currently this table has an <b>'IS NOT NULL'</b> in the <b>WHERE</b> clause.&nbsp; Is this necessary for this table?&nbsp; Why or Why not?&nbsp;</span> 

> Your Answer: NOT NULL IS NOT NECESSARY FOR INNER JOIN

**Part C:**  When using SQL, you are usually returning much larger tables so every line of code will add to the compilation and return time.  Rewrite this inner join query so that it contains no redundant code.   

> Your Answer:  Update the query in the code box below.

In [27]:
USE BooksDB
SELECT TOP (10) b.title, b.average_rating, b.books_count,tr.user_id, tr.book_id
FROM books AS b
Inner JOIN to_read AS tr
ON b.book_id = tr.book_id
WHERE b.title IS NOT NULL
ORDER BY tr.book_id;

USE BooksDB
SELECT TOP (10) books.title, books.average_rating, books.books_count,to_read.user_id, to_read.book_id
FROM books
Inner JOIN to_read
ON books.book_id = to_read.book_id
ORDER BY to_read.book_id;

title,average_rating,books_count,user_id,book_id
"Harry Potter and the Half-Blood Prince (Harry Potter, #6)",4.54,275,12,1
"Harry Potter and the Half-Blood Prince (Harry Potter, #6)",4.54,275,192,1
"Harry Potter and the Half-Blood Prince (Harry Potter, #6)",4.54,275,202,1
"Harry Potter and the Half-Blood Prince (Harry Potter, #6)",4.54,275,244,1
"Harry Potter and the Half-Blood Prince (Harry Potter, #6)",4.54,275,253,1
"Harry Potter and the Half-Blood Prince (Harry Potter, #6)",4.54,275,350,1
"Harry Potter and the Half-Blood Prince (Harry Potter, #6)",4.54,275,478,1
"Harry Potter and the Half-Blood Prince (Harry Potter, #6)",4.54,275,511,1
"Harry Potter and the Half-Blood Prince (Harry Potter, #6)",4.54,275,525,1
"Harry Potter and the Half-Blood Prince (Harry Potter, #6)",4.54,275,527,1

title,average_rating,books_count,user_id,book_id
"Harry Potter and the Half-Blood Prince (Harry Potter, #6)",4.54,275,12,1
"Harry Potter and the Half-Blood Prince (Harry Potter, #6)",4.54,275,192,1
"Harry Potter and the Half-Blood Prince (Harry Potter, #6)",4.54,275,202,1
"Harry Potter and the Half-Blood Prince (Harry Potter, #6)",4.54,275,244,1
"Harry Potter and the Half-Blood Prince (Harry Potter, #6)",4.54,275,253,1
"Harry Potter and the Half-Blood Prince (Harry Potter, #6)",4.54,275,350,1
"Harry Potter and the Half-Blood Prince (Harry Potter, #6)",4.54,275,478,1
"Harry Potter and the Half-Blood Prince (Harry Potter, #6)",4.54,275,511,1
"Harry Potter and the Half-Blood Prince (Harry Potter, #6)",4.54,275,525,1
"Harry Potter and the Half-Blood Prince (Harry Potter, #6)",4.54,275,527,1

## **QUESTION 5:**  Using joins to find the most tagged book and the most popular tag

We will be writing 3 queries to find both the most tagged book and that book's most popular tag.

**Part A:**  What is the most tagged book?

> <span style="background-color: rgba(127, 127, 127, 0.1); font-family: -apple-system, BlinkMacSystemFont, sans-serif;">Start by joining the </span> **books** <span style="background-color: rgba(127, 127, 127, 0.1); font-family: -apple-system, BlinkMacSystemFont, sans-serif;">and </span> **book\_tags** <span style="background-color: rgba(127, 127, 127, 0.1); font-family: -apple-system, BlinkMacSystemFont, sans-serif;">&nbsp;tables ON the books.best_book_id and book_tags.goodreads_book_id.&nbsp;&nbsp;<br></span> <span style="background-color: rgba(127, 127, 127, 0.1); font-family: -apple-system, BlinkMacSystemFont, sans-serif;">We want the <i>most popular</i> book, so think about ordering the table in a way that will display both the book title and the number of times a book tag has been used.</span>
> 
> _MInimum Desired output:_  The title of the most tagged book, and the number of times the book has been tagged.
> 
> **Title:**

**Part B:** How many different tags have been used for the most tagged book?

> <span style="font-family: -apple-system, BlinkMacSystemFont, sans-serif; background-color: rgba(127, 127, 127, 0.1);">Start by joining the&nbsp;</span> **books** <span style="font-family: -apple-system, BlinkMacSystemFont, sans-serif; background-color: rgba(127, 127, 127, 0.1);">and&nbsp;</span> **book\_tags** <span style="font-family: -apple-system, BlinkMacSystemFont, sans-serif; background-color: rgba(127, 127, 127, 0.1);">&nbsp;tables ON the books.best_book_id and book_tags.goodreads_book_id.&nbsp;&nbsp;<br></span> We want to find the _most popular_ tag id, so think about ordering in a way that will display the most popular tag id.
> 
> <span style="font-family: -apple-system, BlinkMacSystemFont, sans-serif; background-color: rgba(127, 127, 127, 0.1);"><i>Minimum Desired Output:</i> The tag id for the most popular tag used for the most tagged book.&nbsp;</span> 
> 
> <span style="font-family: -apple-system, BlinkMacSystemFont, sans-serif; background-color: rgba(127, 127, 127, 0.1);"><b>Tag Id:</b></span>

<span style="font-family: -apple-system, BlinkMacSystemFont, sans-serif; background-color: rgba(127, 127, 127, 0.1);"><b>Part C: </b>What is this particular tag?</span>

> You may return this answer with a simple query.

> <span style="font-family: -apple-system, BlinkMacSystemFont, sans-serif; background-color: rgba(127, 127, 127, 0.1);"><i>Minimum Desired Output:</i>&nbsp;The tag name for the most popular tag used for the most tagged book.&nbsp;</span> 
> 
> <span style="font-family: -apple-system, BlinkMacSystemFont, sans-serif; background-color: rgba(127, 127, 127, 0.1);"><b>Tag Name:</b></span>

In [29]:

-- The title of the most tagged book, and the number of times the book has been tagged.
USE BooksDB
SELECT TOP(5) books.Title, book_tags.count AS 'MOST TAGS/TAG COUNT'
FROM books
INNER JOIN book_tags
ON books.best_book_id=book_tags.goodreads_book_id
ORDER BY book_tags.count DESC


--The tag id for the most popular tag used for the most tagged book. 
USE BooksDB
SELECT TOP(1) books.Title, book_tags.tag_id AS 'TAG ID', book_tags.count AS 'MOST TAGS/TAG COUNT'
FROM books
INNER JOIN book_tags
ON books.best_book_id=book_tags.goodreads_book_id
ORDER BY book_tags.count DESC

--The tag name for the most popular tag used for the most tagged book.
USE BooksDB
SELECT TOP(1) books.Title, tags.tag_name AS 'TAG NAME', book_tags.tag_id AS 'TAG ID', book_tags.count AS 'MOST TAGS/TAG COUNT'
FROM books
INNER JOIN book_tags ON books.best_book_id=book_tags.goodreads_book_id
INNER JOIN tags ON book_tags.goodreads_book_id=tags.tag_id
ORDER BY book_tags.count DESC 

-- USE BooksDB
-- SELECT TOP(1) books.Title, tags.tag_name AS 'TAG NAME', book_tags.tag_id AS 'TAG ID', book_tags.count AS 'MOST TAGS/TAG COUNT'
-- FROM books
-- INNER JOIN book_tags ON books.best_book_id=book_tags.goodreads_book_id
-- INNER JOIN tags ON books.best_book_id=tags.tag_id
-- ORDER BY book_tags.count DESC

Title,MOST TAGS/TAG COUNT
The Alchemist,596234
"The Girl with the Dragon Tattoo (Millennium, #1)",586235
All the Light We Cannot See,505884
"Harry Potter and the Sorcerer's Stone (Harry Potter, #1)",496107
Les Misérables,488469

Title,TAG ID,MOST TAGS/TAG COUNT
The Alchemist,30574,596234

Title,TAG NAME,TAG ID,MOST TAGS/TAG COUNT
The Alchemist,2017-final,30574,596234

## **QUESTION 6:** Find a book based on a tag of your choice using joins.

Some suggestions: any hobbies you like? baking, drawing, etc. how about favorite holidays, subjects, animals, etc?

**Part A:** Explore the tags table for a tag of your choice.  Suggested ideas, try searching for one of your hobbies, a favorite time of year, favorite animal, etc.  Start by querying the tag table for your chosen tag.  (_Hint:_ in order to make sure you find all combinations of your tags, use the wildcard).  If your query returns more than one result, pick your favorite.

> > _Here is an example.  Alyce wanted to search for halloween books.  She used the wildcard, '%halloween%' and 8 different combinations were found.  Alyce selected '**halloween-storytime**', with a tag id of 13877._

> _Minimum Desired Output:_ <span style="font-family: -apple-system, BlinkMacSystemFont, sans-serif; background-color: rgba(127, 127, 127, 0.1);">tag name and tag id</span>

> **Your Tag and Tag Id:**

**Part B:** Now that you have the **tag id**, find the title that was tagged the most with this tag by joining the books and books\_tags tables.

> > _Alyce joined the book table with the tags table and discovered that <u>The Little Old Lady Who Was Not Afraid of Anything</u> was tagged as '**halloween-storytime**' the most._

> _Minimum Desired Output:_ <span style="background-color: rgba(127, 127, 127, 0.1); font-family: -apple-system, BlinkMacSystemFont, sans-serif;">title and tag count</span>

> **Your Title and Number of times the tag was used:**

In [39]:
-- Code Here:
--A- Explore the tags table for a tag of your choice. If your query returns more than one result, pick your favorite.
USE BooksDB
SELECT * FROM tags WHERE tag_name LIKE '%wizards%'

--WITCHES-AND-WIZARDS: TAG ID 9833

--Now that you have the tag id, find the title that was tagged the most with this tag
-- by joining the books and books_tags tables
USE BooksDB
SELECT TOP(1) books.Title, MAX(book_tags.count) AS 'MOST TAGS/TAG COUNT'
FROM books
FULL JOIN book_tags
ON books.best_book_id=book_tags.goodreads_book_id
WHERE book_tags.tag_id= 32626
GROUP by books.Title
ORDER BY MAX(book_tags.count) DESC

--VERIFYING TOP 5

USE BooksDB
SELECT TOP(5) books.Title, book_tags.count AS 'MOST TAGS/TAG COUNT'
FROM books
FULL JOIN book_tags
ON books.best_book_id=book_tags.goodreads_book_id
WHERE book_tags.tag_id= 32626
ORDER BY book_tags.count DESC


--EXAMPLE QUERY
USE BooksDB
SELECT TOP(1) books.Title, MAX(book_tags.[count]) AS 'MOST TAGS/TAG COUNT'
FROM books
FULL JOIN book_tags
ON books.best_book_id=book_tags.goodreads_book_id
WHERE book_tags.tag_id= 13877
GROUP by books.title
ORDER BY MAX(book_tags.count) DESC

tag_id,tag_name
9883,dragons-and-wizards
32626,witches-and-wizards
32631,witches-wizards
32632,witches-wizards-warlocks
32654,wizards
32655,wizards-and-magic
32656,wizards-dragons-and-things
33151,young-wizards

Title,MOST TAGS/TAG COUNT
"Hex Hall (Hex Hall, #1)",52

Title,MOST TAGS/TAG COUNT
"Hex Hall (Hex Hall, #1)",52
"Demonglass (Hex Hall, #2)",32
"Witch & Wizard (Witch & Wizard, #1)",26
"Spell Bound (Hex Hall, #3)",23
"A Fistful of Charms (The Hollows, #4)",15

Title,MOST TAGS/TAG COUNT
The Little Old Lady Who Was Not Afraid of Anything,4

## **QUESTION 7:** What are the top 10 most popular book titles on the 'to read' list?

**Part A:**  Explore how the **to\_read** and **books** tables are organized, and then join them.  What will you use as a key?

> Your Answer:

**Part B:** Organize your newly joined table in a way that groups popularity based on the title based on users.

> _Hint:_ Suggest using an alias for the aggregation you will need to run on the **user\_id**

> _Minimum Desired Output:_ title and aliased column

In [2]:
-- Code Here:
USE BooksDB
SELECT TOP (10) books.title, COUNT(to_read.user_id) AS 'TO READ USER ID COUNT'
FROM books 
FULL JOIN to_read
ON books.book_id = to_read.book_id
GROUP BY books.title
ORDER BY COUNT(to_read.user_id) DESC;


USE BooksDB
SELECT TOP (10) books.title, (COUNT(to_read.user_id))  AS 'TO READ USER ID COUNT'
FROM books 
FULL JOIN to_read
ON books.book_id = to_read.book_id
WHERE books.title IS NOT NULL
GROUP BY books.title
ORDER BY COUNT(to_read.user_id) DESC;

-- USE BooksDB
-- SELECT TOP (10) books.title, books.authors, books.books_count,to_read.user_id, to_read.book_id
-- FROM books 
-- FULL JOIN to_read
-- ON books.book_id = to_read.book_id;

title,TO READ USER ID COUNT
NULL,825212
The Ultimate Hitchhiker's Guide to the Galaxy,1812
"The Hitchhiker's Guide to the Galaxy (Hitchhiker's Guide to the Galaxy, #1)",1767
The Lord of the Rings: The Art of The Fellowship of the Ring,1499
"Harry Potter Boxed Set, Books 1-5 (Harry Potter, #1-5)",1498
"Harry Potter and the Goblet of Fire (Harry Potter, #4)",1484
The Known World,1352
"Harry Potter and the Prisoner of Azkaban (Harry Potter, #3)",1293
The Lord of the Rings: Weapons and Warfare,1211
Notes from a Small Island,1148

title,TO READ USER ID COUNT
The Ultimate Hitchhiker's Guide to the Galaxy,1812
"The Hitchhiker's Guide to the Galaxy (Hitchhiker's Guide to the Galaxy, #1)",1767
The Lord of the Rings: The Art of The Fellowship of the Ring,1499
"Harry Potter Boxed Set, Books 1-5 (Harry Potter, #1-5)",1498
"Harry Potter and the Goblet of Fire (Harry Potter, #4)",1484
The Known World,1352
"Harry Potter and the Prisoner of Azkaban (Harry Potter, #3)",1293
The Lord of the Rings: Weapons and Warfare,1211
Notes from a Small Island,1148
"Harry Potter Collection (Harry Potter, #1-6)",1110

## **QUESTION 8:** Largest 'To Read' Lists

**Part A:**  Create a query that returns a table that contains the top 10 users with the most number of titles on their 'to read' list.    Group all the entries by user\_id.  

> _Hint:_ You might want an alias for the titles.
> 
> _Minimum Desired Output:_  user\_id and your aliased column of titles.

**Part B:**  The longest list length is 15 titles total, and is shared by 4 different users.  Select one of the uses and print out their entire '**to read**' list.

In [10]:
-- Code Here:
-- USE BooksDB
-- SELECT TOP (10) to_read.user_id AS 'TOP 10 USERS', COUNT(books.title) 
-- FROM to_read
-- LEFT JOIN books
-- ON to_read.book_id=books.book_id 
-- GROUP BY to_read.user_id 
-- ORDER BY COUNT(books.title) DESC;

--the top 10 users with the most number of titles on their 'to read' list
USE BooksDB
SELECT TOP (10) COUNT(books.title), to_read.user_id  AS 'TO READ USER ID COUNT'
FROM books 
RIGHT JOIN to_read
ON books.book_id = to_read.book_id
WHERE books.title IS NOT NULL
GROUP BY to_read.user_id
ORDER BY COUNT(books.title) DESC;


--The longest list length is 15 titles total, and is shared by 4 different users.  
--Select one of the uses and print out their entire 'to read' list.

USE BooksDB
SELECT books.title AS 'TO READ LIST'
FROM books
RIGHT JOIN to_read
ON books.book_id = to_read.book_id
WHERE to_read.user_id =14771 AND books.title IS NOT NULL

(No column name),TO READ USER ID COUNT
15,14771
15,12483
15,11932
15,38201
14,36923
14,41523
14,27933
14,37359
13,25734
13,51137

TO READ LIST
"The Fellowship of the Ring (The Lord of the Rings, #1)"
"Harry Potter and the Order of the Phoenix (Harry Potter, #5)"
"Harry Potter and the Goblet of Fire (Harry Potter, #4)"
J.R.R. Tolkien 4-Book Boxed Set: The Hobbit and The Lord of the Rings
In a Sunburned Country
A Widow for One Year
Tropic of Cancer
The Iliad/The Odyssey
The Lost Continent: Travels in Small Town America
The New York Trilogy
The Lord of the Rings: The Art of The Fellowship of the Ring
The Known World
Ten Apples Up On Top!
Leviathan
What to Expect the First Year (What to Expect)